@font-face {
    font-family: 'Gilroy';
    src: url(/font/Gilroy-Bold.ttf) format(ttf);
}
/* GENERAL */
h4 {
    white-space: nowrap;
}
body {
    width: 100%;
    max-width: 2000px;
    margin: 50px;
    font-family: 'Gilroy', sans-serif;
    background-color: #fff;
}
.content {
    width: 1300px;
    text-align: center;
    height: 130px;
    padding-right: 100px;
    background-color: white;
    border: 5px solid #D6A7CE;
    margin: -85px;
}
.background {
    display: grid;
    min-height: 2200px;
    min-width: 3000px;
    grid-template-columns: 0.5fr;
}

.background .head {
    background-color: #EDC8D3;
    position: relative;
    width: 140px;
    padding: 100px;
}
.background .right_side {
    background-color: #fff;
    position: relative;
    padding: 40px;
}
.content .text1 {
    text-align: center;
    font-size: 25px;
    color: #9C205B;
    margin-top: -100px;
}
.text2 {
    text-align: center;
    font-size: 26px;
    opacity: 42%;
    color: #9C205B;
    margin-top: -1px;
}
.profilePhoto .Photo {
    position: relative;
    width: 153px;
    margin-right: 1150px;
    border-right: 5px solid #D6A7CE;
    overflow: hidden;
}
.textBlock
{
    text-align: left;
    font-size: 28px;
    margin-top: 100px;
    color: #9C205B;
    margin-right: 50px;
    letter-spacing: 5px;
}
.line {
    border: 1px solid #9C205B;
    margin-top: -27px;
    width: 16%;
    margin-left: -19px;

}
.rinfo {
    display: flex;
    margin-left: 700px;
    margin-top: -120px;
}
.rhead-info2 {
    margin-right: 20px;
}
.container3 {
    margin-top: -250px;
}